.header {
  width: 100%;
  height: auto;
  background-color: #022247;
  padding: 1rem;
}

.header .navbar-list .nav {
  text-align: center;
}

.header .logo .fas {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}

.header .button {
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: none;
}

.header .content {
  text-align: center;
  margin-top: 1.5rem;
}

.header .content-main {
  color: orangered;
  padding: 0.8rem;
}

.header .content-main:hover {
  color: #fff;
}

.header .content-sub {
  color: #fff;
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  list-style: none;
}

a li {
  color: #fff;
  font-family: "titr", sans-serif;
  font-size: 1.5rem;
  padding: 0.8rem;
  transition: 0.5s;
}

a li:hover {
  color: orangered;
  letter-spacing: 0.2rem;
}

.container {
  background-color: #d6ffc3;
}

.title {
  font-family: "titr", sans-serif;
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-weight: bolder;
  font-size: 1.5rem;
  color: gray;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row .education {
  width: 15rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border: none;
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.5rem #cccccc;
  border-radius: 10px;
  background-color: #fff;
}

.row .education .image {
  width: 90%;
  margin-top: 0.8rem;
}

.row .education .text {
  font-family: "titr", sans-serif;
  font-size: 1.2rem;
  padding: 0.75rem;
}

.row .education .span {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.75rem;
}

.button {
  width: 12rem;
  padding: 1rem;
  margin: 2rem 0 5rem 0;
  background-color: #022247;
  color: #fff;
  border-radius: 10px;
  font-family: "vazir", sans-serif;
  font-size: 1rem;
  outline: none;
  border: none;
  transition: 0.5s;
}

.button:hover {
  background-color: orangered;
}

.section-two {
  background-color: #fff;
}

.section-two .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two .content-text {
  width: 100%;
  background-color: #dbd5d5;
  text-align: center;
  padding: 0.5rem 0 2rem 0;
}

.section-two .content-text h2 {
  text-align: center;
  font-family: "titr", sans-serif;
  font-size: 2rem;
  color: #022247;
}

.section-two .content-text .btn {
  margin: 2rem auto;
  display: block;
}

footer {
  background-color: #022247;
  text-align: center;
  padding: 1.5rem auto 0 auto;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .footer-content .Recruitment h2 {
  color: orangered;
  margin-top: 1.5rem;
  font-family: "titr";
}

footer .footer-content .Recruitment li {
  color: #fff;
  font-size: 0.9rem;
  font-family: "vazir";
  color: #fff;
}

footer .footer-content .Recruitment li:hover {
  letter-spacing: 0;
  color: gray;
}

footer hr {
  width: 15rem;
  margin: 2rem auto;
}

footer .social-media .fab {
  font-size: 2rem;
  color: #fff;
  margin: 1rem;
  transition: 0.5s;
}

footer .social-media .fab:hover {
  color: orangered;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Bold.eot");
  src: url("/fonts/Vazir-Bold.ttf");
  src: url("/fonts/Vazir-Bold.woff");
  src: url("/fonts/Vazir-Light.woff2");
}

@font-face {
  font-family: "titr";
  src: url("../fonts/BTitrBold.eot");
  src: url("../fonts/BTitrBold.ttf");
  src: url("../fonts/BTitrBold.woff");
}

body {
  font-family: "vazir";
}
/*# sourceMappingURL=main.css.map */