footer {
  background-color: $color-blue;
  text-align: center;
  //  * padding: 1.5rem auto 0 auto;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .Recruitment {
      padding: 1.5rem;
      h2 {
        color: $color-orange;
        margin-top: 1.5rem;
        font-family: "titr";
        @media (min-width: 1024px) {
          margin-bottom: 1rem;
        }
        @media (min-width: 1440px) {
          font-size: 2rem;
        }
      }
      li {
        color: $color-white;
        font-size: 0.9rem;
        font-family: "vazir";
        color: $color-white;
        @media (min-width: 425px) {
          font-size: 1.1rem;
        }
        @media (min-width: 1024px) {
          margin: 1rem;
          display: flex;
          flex-direction: column;
        }
        @media (min-width: 1440px) {
          font-size: 1.3rem;
        }

        &:hover {
          letter-spacing: 0;
          color: $color-gray;
        }
      }
    }
  }
  hr {
    width: 15rem;
    margin: 2rem auto;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .social-media {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      margin-top: 2rem;
    }
    .fab {
      font-size: 2rem;
      color: $color-white;
      margin: 1rem;
      transition: 0.5s;
      @media (min-width: 1440px) {
        font-size: 2.3rem;
      }

      &:hover {
        color: $color-orange;
      }
    }
  }
}
