footer {
  background-color: $color-blue;
  text-align: center;
  padding: 1.5rem auto 0 auto;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Recruitment {
      h2 {
        color: $color-orange;
        margin-top: 1.5rem;
        font-family: "titr";
      }
      li {
        color: $color-white;
        font-size: 0.9rem;
        font-family: "vazir";
        color: $color-white;
        &:hover {
          letter-spacing: 0;
          color: $color-gray;
        }
      }
    }
  }
  hr {
    width: 15rem;
    margin: 2rem auto;
  }
  .social-media {
    .fab {
      font-size: 2rem;
      color: $color-white;
      margin: 1rem;
      transition: 0.5s;
      &:hover {
        color: $color-orange;
      }
    }
  }
}
