.header {
  width: 100%;
  height: auto;
  background-color: $color-blue;
  //   *clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  padding: 1rem;

  .navbar {
    &-list {
      .nav {
        text-align: center;
      }
    }
  }
  .logo .fas {
    font-size: 2rem;
    color: $color-white;
    text-align: center;
    line-height: 1.5rem;
  }
  .button {
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: none;
  }
  .content {
    text-align: center;
    margin-top: 1.5rem;

    &-main {
      color: $color-orange;
      padding: 0.8rem;

      &:hover {
        color: $color-white;
      }
    }
    &-sub {
      color: $color-white;
      font-size: 0.85rem;
    }
  }
}
a {
  text-decoration: none;
  list-style: none;
  li {
    color: $color-white;
    font-family: "titr", sans-serif;
    font-size: 1.5rem;
    padding: 0.8rem;
    transition: 0.5s;
    &:hover {
      color: $color-orange;
      letter-spacing: 0.2rem;
    }
  }
}
