.section-two {
  background-color: $color-white;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
    }
    &-img {
      @media (min-width: 768px) {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          width: 70%;
        }
      }
    }

    &-text {
      width: 100%;
      background-color: $color-gray-light;
      text-align: center;
      padding: 0.5rem 0 2rem 0;
      @media (min-width: 768px) {
        padding: 1rem;
        width: 50%;
      }
      @media (min-width: 1440px) {
        display: block;
        padding: 5.5rem 0;
        font-size: 1.5rem;
      }

      h2 {
        text-align: center;
        font-family: "titr", sans-serif;
        font-size: 2rem;
        color: $color-blue;
        @media (min-width: 1440px) {
          font-size: 2.5rem;
        }
      }
      .btn {
        margin: 2rem auto;
        display: block;
        @media (min-width: 1440px) {
          font-size: 1.7rem;
          margin-top: 4rem;
        }
      }
    }
  }
}
