.section-two {
  background-color: $color-white;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      width: 100%;
      background-color: rgb(219, 213, 213);
      text-align: center;
      padding: 0.5rem 0 2rem 0;
      h2 {
        text-align: center;
        font-family: "titr", sans-serif;
        font-size: 2rem;
        color: $color-blue;
      }
    }
  }
}
