@import "colors";
@import "header";
@import "section";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Bold.eot");
  src: url("/fonts/Vazir-Bold.ttf");
  src: url("/fonts/Vazir-Bold.woff");
  src: url("/fonts/Vazir-Light.woff2");
}
@font-face {
  font-family: "titr";
  src: url("../fonts/BTitrBold.eot");
  src: url("../fonts/BTitrBold.ttf");
  src: url("../fonts/BTitrBold.woff");
}

body {
  font-family: "vazir";
}
